.Gameboard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 400px;
  border: 1px solid black;
  box-sizing: border-box;
  visibility: visible;
  transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: translateX(0);
}

.Hide {
  visibility: hidden;
  position: absolute;
  transform: translateX(-100%);
}
